---
---
<div style="font-family: 'Helvetica', sans-serif; color: #333; bg-yellow-500 padding: 20px; text-align: center;">
    <footer>
        <p>&copy; 2025 110 film scrolleytelling</p>
        <div style="margin-top: 10px;">
            <a href="https://facebook.com" target="_blank" style="margin: 0 10px; bg-black ">Facebook</a>
            <a href="https://twitter.com" target="_blank" style="margin: 0 10px; bg-black;">Twitter</a>
            <a href="https://instagram.com" target="_blank" style="margin: 0 10px; bg-black">Instagram</a>
        </div>
    </footer>
</div>
